* {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
}

table {
    border: 2px solid gainsboro;
    margin: auto;
    border-collapse: collapse;
    width: 850px;
}

a {
    text-decoration: none;
    padding: 0px;
}

td:nth-child(2) {
    width: 90px;
}

td:nth-child(5) {
    width: 100px;
}

th {
    background-color: #ececec;
}

tr,
th,
td {
    border: 2px solid gray;
}

.bold {
    font-weight: bold;
}

#pow {
    vertical-align: super;
    font-size: 8px;
    padding: 0px;
    text-align: left;
}

.green {
    background-color: #98ff97;
}

.lightGreen {
    background-color: #d5ffd4;
}

.red {
    background-color: #fe9898;
}

.yellow {
    background-color: #ffffbb;
}

.purple {
    background-color: #ddddff;
}

.blue {
    background-color: #99ffff;
}

.gray {
    background-color: #ececec;
}