.table3{
    margin-top: 200px;
}

.table1 {
    border: 1px solid gray;
    margin: auto;
    width: 470px;
    height: 200px;
    text-align: center;
}

.table1 td{
    border: 1px solid gray;
}

.table2 {
    border: 2px solid orange;
    border-collapse: collapse;
    margin: auto;
    width: 800px;
}

.table2 td {
    border: 2px solid orange;
    vertical-align: super;
    padding: 8px;
}

.table2 tr:first-child {
    background-color: white;
    font-weight: bold;
}

.table2 tr:nth-child(2) {
    background-color: white;
}

.table2 tr {
    border-collapse: collapse;
    border: 2px solid orange;
    background-color: rgb(209, 200, 200);
}

.table2 * {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.table3 * {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
}

.table3 {
    border: 2px solid gainsboro;
    margin: auto;
    border-collapse: collapse;
    width: 850px;
}

.table3 a {
    text-decoration: none;
    padding: 0px;
}

.table3 td:nth-child(2) {
    width: 90px;
}

.table3 td:nth-child(5) {
    width: 100px;
}

.table3 th {
    background-color: #ececec;
}

.table3 tr,
th,
td {
    border: 2px solid gray;
}

.table3 .bold {
    font-weight: bold;
}

 #pow {
    vertical-align: super;
    font-size: 8px;
    padding: 0px;
    text-align: left;
}

.table3 .green {
    background-color: #98ff97;
}

.table3 .lightGreen {
    background-color: #d5ffd4;
}

.table3 .red {
    background-color: #fe9898;
}

.table3 .yellow {
    background-color: #ffffbb;
}

.table3 .purple {
    background-color: #ddddff;
}

.table3 .blue {
    background-color: #99ffff;
}

.table3 .gray {
    background-color: #ececec;
}