* {
    font-family: Open Sans;
}

body {
    margin: 0px;
}

img {
    width: 15%;
    padding: 0px;
    margin: 0px;
}

ul {
    padding: 8px;
    margin: 0px;
    list-style-type: none;
    vertical-align: center;
}

li {
    display: inline-block;
    text-align: end;
}

.header_menu {
    margin: 0px;
    position: fixed;
    text-align: center;
    width: 100%;
    border: 1px solid black;
}

.search_block {
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 20px;
    font-size: 10px;
    display: inline-block;
    float: left;
}

.search_block p {
    margin: 0px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    background-color: orange;
    float: left;
}

.buttons {
    display: inline-block;
    float: left;
}

.buttons a {
    color: gray;
    text-decoration: none;
    font-size: 10px;
    align-self: center;
}

.search_block button {
    background-color: orange;
}

.search_block input {
    float: left;
}