* {
    font-style: Open Sans-serif;
}

ol {
    display: block;
    list-style-type: armenian;
    margin: 0px;
    padding: 0px;
}

ol li {
    display: inline-block;
    padding: 5px;
    color: rgb(13, 152, 216);
    text-decoration: underline;
}

ol li:last-child::after {
    content: "";
}

ol li::after {
    padding: 2px;
    color: Black;
}

h2 {
    font-weight: lighter;
    margin: 0px;
    padding: 0px;
}

.name_block p {
    color: gray;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    font-size: 12px
}

.name_block {
    display: block;
    padding: 0px;
    line-height: 20px;
    margin-top: 20px;
}

.row {
    display: inline-block;
    clear: both;
    width: 964px;
}

.row div {
    display: inline-block;
    vertical-align: top;
    width: 250px;
}

.columns {
    padding: 40px 0px
}

.columns:first-child {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.columns * {
    padding: 10px;
    margin: 0px;
    margin-bottom: 20px;
}

.columns img {
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
    width: 97px;
    height: 62px;
}

.columns img:first-child {
    padding: 0px;
    margin: 20px;
    width: 30px;
    height: 30px;
}

.main_img {
    display: inline-block;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px
}

.stars {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-bottom: 20px;
}

.stars img {
    width: 15px;
    height: 15px;
    display: inline-block;
}

form {
    vertical-align: middle;
    padding: 30px;
    vertical-align: top;
    border: 1px solid gray;
    width: 250px;
}

form button {
    border: none;
    border-radius: 5px;
    color: white;
    width: 250px;
    display: block;
    height: 50px;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
}

.buy {
    background: linear-gradient(to bottom, #f7941e, #f25e2e);
    font-size: 20px;
    background-color: orange;
}

.buy_cred {
    background-color: rgb(127, 137, 138);
}

h1 {
    margin-bottom: 40px;
    margin-top: 30px;
}

table{
    border-top:1px solid gray ;
}

table p{
    text-align: left;
}

td{
    padding: 0px;
    margin: 0px;
    width: 480px;
    vertical-align: top;
    font-size: 14px;
}

th{
    padding: 20px 0px;
    text-align: left;
    font-size: 28px;
    font-weight: lighter
}

h2{
    width: 500px;
}

#ei {
    font-size: 20px;
    font-weight: lighter;
}

#space{
    text-decoration: underline solid gray;
    color: white;
}

#bold{
    font-weight: bold;
}