@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;7);
body {
    background: center /100% 200% url(bg-illu4.jpg) no-repeat;
    background: cover;
    font-family: 'Open Sans';
}

.main {
    display: inline-block;
    width: 600px;
    vertical-align: middle;
    font-size: 0px;
}

@media screen {}

.block {
    display: inline-block;
    text-align: center;
    width: 90px;
    height: 200px;
    padding: 15px 25px;
    font-size: 25px;
    color: white;
}

.block p {
    margin: 0px;
}

.purple {
    background-color: purple;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}