body {
    background: url(Images/fon_03.gif) repeat;
   }

h1 {
    font-family: Georgia  ;
    color: #0c1163;
    font-size: 30pt;
    margin-bottom: 0px;
   }

p {
    font-size:36px;
    color: #000000;  
    margin-top: 0;
    padding-right: 25px;
   }

.par {
	text-align: left;
   }

#pic {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
    float: left;
    width: 40%;
   }


#content {
	width: 100%;
	margin: 20px;
    padding: 0px 10px;
}