body{
    background-color: rgb(102,205,170);
    justify-content: center;
    display: flex;
}

form{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
}

fieldset{
    display: flex;
    flex-direction: row;
    border: 0px;
}

fieldset:last-child{
    justify-content: center;
}

input{
    margin-left: 42%;
    width: 30%;
    display: inline-flex;
}

label{
    width: 50px;
    display: inline-flex;
    text-align: left;
}

textarea{
    display: inline-flex;
    height: 40px;
    margin-left: 60px;
    width: 80%;
}

button{
    margin: auto 20px;
    padding: 4px;
}

div{
    width: 49%;
    text-align: left;
}

div:nth-child(2){
    margin-left: 50px;
}