.Title {
    color: darkmagenta;
    text-align: center;
    font-weight: bold;
}

#decorate {
    font-weight: bold;
    border-bottom: 2px solid darkblue;
    font-family: serif;
}

#copyright {
    text-align: right;
    font-size: smaller;
    color: darkblue;
}

.arial {
    font-family: Arial;
}

.cursive {
    font-style: italic;
}

#bold {
    font-weight: bold;
    font-style: italic;
}

.roman {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Right-aligntext {
    text-align: right;
}

.blueText {
    color: darkblue;
}

.leftAlignText {
    margin: auto;
    width: 70%;
}

.centredText {
    text-align: center;
}

body {
    background-color: aqua;
    padding: 0% 8% 0% 8%;
}

h2 {
    color: darkblue;
    font-weight: bold;
}

.subtitle {
    font-weight: 100;
}

.justify {
    text-align: justify;
}