* {
    padding: 0px;
    margin: 0px;
}

html {
    width: 100%;
    height: 100%;
}

.main {
    display: inline-block;
    width: 900px;
    height: 650px;
    padding: 20px;
}

.text_block {
    width: 900px;
    position: absolute;
    text-align: center;
    z-index: 0;
}

.mirror {
    position: relative;
    z-index: 1;
    font-size: 27px;
}

.mirror p {
    margin-top: 30px;
    text-align: center;
}

body {
    text-align: center;
    background: center/100% 100% url(BG-ILLU2.JPG) no-repeat;
    background-size: cover;
    color: darkslategray;
}

.card {
    display: inline-block;
    width: 220px;
    height: 300px;
    margin: 5px 10px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    float: left;
}

.fade {
    transition-property: opacity;
    transition-duration: 1s;
}

.fade:hover {
    opacity: 0%;
    transition: all 0.9s ease;
}

.rot:hover {
    z-index: 100;
    transform: skewX(80deg);
    transition: all 0.9s ease;
}

.rotY:hover {
    transform: rotateX(360deg);
    transition: all 1.5s ease;
}

.rotX:hover {
    transform: rotateY(360deg);
    transition: all 1.5s ease;
}

.jump:hover {
    transform: translate(15px, 15px);
    transition: all 1.5s ease;
}

.rotZ:hover {
    transform: skewY(100deg);
    transition: all 1.5s ease;
}

.sircle:hover {
    border-radius: 100%;
    transition: all 1.5s ease;
    height: 230px
}

.scale:hover {
    transform: scale(1.2);
    transition: all 1.5s ease;
}

.text_block .card {
    opacity: 60%;
}

.text_block .card p {
    line-height: 25px;
    font-size: 18px;
}