body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button{
    margin: auto;
}

input{
    margin: auto;
}


.auto{
    width: 500px;
    height: 177px;
    background-image: url("1549-large.jpg");
    background-repeat: no-repeat;
    margin: auto;
    background-position-y: -180px;
}

form{
    margin: auto;
    display: flex;
    width: 1000px;
}

.controller{
    display: flex;
    margin: auto;
    width: 400px;
}