body {
    background-color: rgb(204, 255, 204);
    padding: 0 10% 0 10%;
}

h1 {
    color: rgb(0, 98, 99);
    text-align: center;
}

.centredText {
    text-align: center;
}

.subtitle1 {
    color: rgb(75, 203, 92);
}

.subtitle2 {
    color: purple
}

.subtitle3 {
    color: rgb(135, 83, 21)
}

ul {
    list-style-type: circle;
}

img {
    height: 20%;
    float: right;
    margin: 0 5px 5px 5px;
}

.justifyText {
    text-align: justify;
}

A {
    color: #808080;
}

A:visited {
    color: #800000;
}

.leftText {
    text-align: left;
}

#bold {
    font-weight: bold;
}